

.header__slug__current {
    padding: 2rem 0 0 0;
  }
  .header__slug__current--span {
    color: var(--font-gray);
    font-size: 16px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .header__slug__current--span span {
    padding: 0px 15px 0px 0;
  }
  .header__slug__current--span a {
    color: var(--font-gray);
    padding: 0px 15px 0px 0;
  }
  .header__slug__current .banner__header--right {
    gap: 10px;
  }
  .renderListCampaignGetVoucher {
    padding: 0 10px;
  }
  #name_after_login {
    display: none;
  }
  .hover-after-login {
    /* display: none !important; */
  }
  .header--img_ngocdung {
    width: auto;
    height: 80px;
  }
  .header--img_adong {
    height: 80px;
    width: auto;
  }
  .header--img_seoul {
    height: 55px;
    width: auto;
  }
  .header--img_aia {
    height: 80px;
    width: auto;
  }
  .back-to-top-campaign {
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    z-index: 12;
    bottom: 102px;
    right: 36px;
    border-radius: 20px;
    background: #201a1bc9;
    border: 1px solid #201a1bc9;
    width: 40px;
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .back-to-top-campaign svg {
    fill: #ffff;
    color: #ffff;
    width: 25px;
    height: 25px;
  }
  .navbar-a {
    z-index: 2;
  }
  
  .indicator {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 0;
    height: 5%;
    background: var(--main_color);
    color: #fff;
    /* background: #f2f2f2; */
    border-radius: 8px;
    transition: 0.5s;
  }
  
  .errorMesssage {
    display: none;
    color: #ff0000;
    text-align: left;
    font-style: normal;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 12px;
  }
  .title_getGift {
    margin-top: 12px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: var(--main_color);
  }
  .content_getGift {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: var(--main_color);
  }
  .placeholderInputSpan {
    position: absolute;
    top: 14px;
    left: 22px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    align-items: flex-end;
    color: #808080;
  }
  .title_getGift_success p {
    font-family: var(--font-main);
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: var(--main_color) !important;
  }
  .tooltip_hover {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    display: none;
  
    top: 33px;
    min-width: 90px;
    left: -33px;
    position: absolute;
    font-size: 13px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 4px;
    background: #444;
  }
  .copy_code_voucher:hover .tooltip_hover {
    display: block !important;
  }
  .title_get_voucher {
    margin: 0 0 4px 0;
    font-family: var(--font-main);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .content-description ul {
    list-style-type: circle;
  }
  .copy_code_voucher {
    position: absolute;
    right: 15px;
  }
  .title_getGift {
    margin-top: 12px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: var(--main_color);
  }
  .content_getGift {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: var(--main_color);
  }
  .placeholderInputSpan {
    position: absolute;
    top: 14px;
    left: 22px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    align-items: flex-end;
    color: #808080;
  }
  .title_getGift_success p {
    font-family: var(--font-main);
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: var(--main_color) !important;
  }
  .tooltip_hover {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    display: none;
    top: 33px;
    min-width: 90px;
    left: -33px;
    position: absolute;
    font-size: 13px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 4px;
    background: #444;
  }
  .copy_code_voucher:hover .tooltip_hover {
    display: block !important;
  }
  .title_get_voucher {
    margin: 0;
    font-family: var(--font-main);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .content-description ul {
    list-style-type: circle;
  }
  .copy_code_voucher {
    position: absolute;
    right: 15px;
  }
  .position_header {
    z-index: 10;
    width: 100%;
    padding-bottom: 0;
    background-color: #fff;
  }
  .box-position-header {
    background: #fff;
    height: auto;
    padding: 6px 0 0 0;
    position: sticky;
    z-index: 100000;
    top: 0;
    width: 100%;
    display: flex;
    /* z-index: 100; */
    justify-content: center;
    align-items: center;
  }
  .box-position-header a {
    background: none !important;
    background-color: none !important;
  }
  .banner__header--left img {
    cursor: pointer;
    background-size: 100% 100%;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
  }
  
  .banner__header--right svg {
    height: 36px;
    width: 36px;
  }
  .img_loading-step {
    width: 197px;
    height: 365px;
  }
  .mt-form_login {
    margin-top: 80px;
  }
  .layout-sologan {
    transform: translateY(-10px);
  }
  .suggest-login-title h5 {
    font-size: 26px !important;
    margin-bottom: 10px !important;
  }
  .box-position-header-aia {
    height: 225px;
    background: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    width: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
  }
  .arrow-banner-left {
    position: absolute;
    left: 20px;
    top: calc(50% - 24px);
  }
  .arrow-banner-right {
    position: absolute;
    right: 20px;
    top: calc(50% - 24px);
  }
  
  .carousel-item-banner-header img {
    height: 100%;
    object-fit: cover;
    background-size: 100%;
    width: 100%;
  }
  
  .nav-avatar svg {
    margin: auto 0;
  }
  
  
  @media screen and (max-width: 600px) {
    .banner__header--left img {
      max-width: 80px;
      max-height: 80px;
    }
    .header__slug__current {
      padding: 1.5rem 0 0 0;
    }
    .header--img_aia {
      height: 60px;
      width: auto;
    }
    .header--img_ngocdung {
      height: 55px;
    }
    .header--img_adong {
      height: 65px;
    }
    .header--img_seoul {
      height: 52px;
    }
    .box-position-header {
      padding: 6px 10px 0 10px;
    }
  }
  





  .flex {
    display: flex;
  }
  .flex-a-center {
    display: flex;
    align-items: center;
  }
  .flex-j-center {
    display: flex;
    justify-content: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
  }
  .flex-center-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex-right{
    display: flex;
    justify-content: right;
  }
  .opacity0 {
    opacity: 0;
  }
  .h-100 {
    height: 100%;
  }
  .none {
    display: none !important;
  }
  .block {
    display: block !important;
  }
  .bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  @media screen and (max-width: 1000px) {
    .container-layout {
      max-width: 900px;
    }
  }




  body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  button {
    cursor: pointer;
  }
  svg {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline !important;
  }
  
  :root {
    --a-blue-1: #027fca;
    --font-main: Arial, Helvetica, sans-serif;
    --black: black;
    --font-black: #343a40;
    --font-black-2: #343a40;
    --font-footer: #343a40;
    --font-gray: #787576;
    --font-smoke: rgba(102, 102, 102, 0.85);
  }
  
  .tippy-box[data-theme~="main"] {
    background-color: var(--main_color);
    color: #fff;
  }
  .tippy-box[data-theme~="main"] > .tippy-arrow::before {
    border-top-color: var(--main_color);
    border-bottom-color: var(--main_color);
  }
  .font--black{
    color: var(--font-footer);
  }
  .font--white{
    color: var(--white);
  }
  .font--main{
    color: var(--main_color);
  }
  .desktop-inline{
    display: inline-block;
  }
  
  @media (max-width:768px) {
    .desktop-inline{
      display: block;
    }
    .mobi-center{
      text-align: center;
    }
  }
  .content-paragraph b {
   font-weight: bold;
  }


  .footer__global-title {
    display: block;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
  
    text-align: left;
  }
  .footer__global {
    margin: 4px 0 0 0;
    display: block;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  
    text-align: left;
  }
  .footer__logo--aia {
    height: 80px;
    width: 80px;
    margin: 0 0 8px 0;
  }
  .footer__col1--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
  }
  .footer_soc_desc {
    display: block;
    color: var(--font-footer);
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-shadow: 0px 0px 1px #a2a2a247;
  }
  .footer_soc_desc span {
    font-weight: 600;
  }
  .bg-smoke {
    background-color: #f2f2f2;
  }
  .footer__bg--seoulspa {
    background-color: #dc3f5d !important;
    color: white !important;
  }
  .footer__bg--nd {
    background-color: #00216c !important;
    color: white !important;
  }
  .footer__bg--aia {
    background-color: #302f2c;
    color: white !important;
  }
  .footer__bg--tmvad {
    background-color: #388e3c;
    color: white !important;
  }
  .footer__bg--main{
    background-color:var(--main_color);
    color: white !important;
  }
  .footer__col1--padding {
    width: 50%;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .footer__col2--padding {
    width: 50%;
  
    padding: 0 0 0 20px;
    margin: 0;
  }
  .footer__logo-shynh {
    width: 150px;
    margin: 0 0 8px 0;
  }
  .footer__logo-zema {
    width: 120px;
    margin: 0 0 8px 0;
  }
  .footer__logo--vps {
    width: 140px;
    margin: 0 0 8px 0;
  }
  .footer__logo--danhkhoi {
    height: 110px;
    margin: 0 0 8px 0;
  }
  .footer__logo--nguyenkim{
    height: 40px;
    margin: 0 0 8px 0;
  }
  .footer__logo--gotadi {
    max-height: 35px;
    margin: 0 0 8px 0;
  }
  .footer__logo--marc {
    height: 50px;
    margin: 0 0 8px 0;
  }
  .footer__vps .logo {
    height: 110px;
    margin: 0 0 8px 0;
  }
  .footer__logo--sjc {
    height: 100px;
    margin: 0 0 8px 0;
  }
  .footer__logo--gospa{
    height: 100px;
    margin: 0 0 8px 0;
  }
  .footer__logo--loverosa{
    height: 70px;
    margin: 0 0 8px 0;
  }
  .footer__logo--saho{
    height: 120px;
    margin: 0 0 8px 0;
  }
  .footer__logo--young{
    height: 80px;
    margin: 0 0 8px 0;
  }
  @media (max-width: 768px) {
    .footer__logo--young{
      height: 70px;
    }
    .footer__logo--saho{
      height: 100px;
    }
    .footer__logo--loverosa{
      height: 60px;
      margin: 0 0 8px 0;
    }
    .footer__col1--padding {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .footer__col2--padding {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .footer__global-title {
      font-size: 14px;
    }
    .footer__global {
      font-size: 13px;
    }
  }
  
  @media (max-width: 600px) {
    .footer__space--mobi {
      padding-top: 20px;
    }
  }
  @media (max-width: 500px) {
    .footer-company-campaign span {
      font-size: 14px;
    }
    .footer-company-campaign {
      font-size: 13px;
    }
  }

  p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
  font-size: 0.7em;
    text-align: center;
    bottom:0;
}