.status-modal-follow{
    .data-follow{
            background-color: #cde0fa;
            border: 1px solid green;
            width: 280px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
    }
    .form-information-user1 {
        margin: 0 auto;

        width: 340px !important;
        height: auto;
        padding: 15px 10px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        width: 380px;
        height: auto;
    }
   .status__isLogin{
    border: 1px solid green;
    margin-bottom: 10px;
    width: 280px;
    margin:auto;
    text-align: center;
    p {
        font-size: 1rem;
        line-height: 150%;

        color: var(--main_color);
        font-family: var(--font-main);
        
        font-weight: 500;
        font-size: 16px;
        
    }

   } 
   .avatar-folow{
    margin-bottom: 10px;
    width: 240px;
    margin:auto;
    display: flex;
    margin-bottom: 10px;
     justify-content: space-between;
     a{
        width: 60px;
        height: 15px;
        background-color: red;
        color: #ffffff;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
     }
     .fist-column{
        display: inline-flex;
                img {
                width: 32px;
                height: 32px;
                }
                span {
                margin: auto;
                margin-left: 12px;
                }
     }
   
   }

 }